
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    display: flex;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background: #2c3e50;
    color: white;
    padding: 40px 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    margin-left: 300px;
    padding: 40px;
    background: #f4f4f4;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

.menu-item {
    padding: 15px;
    background: #34495e;
    margin-bottom: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.menu-item:hover {
    background: #3b4a5a;
    transform: scale(1.05);
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;

}

.submenu.active {
    display: block;
}

.submenu li a {
    color: #ffffff; /* Cor branca para o texto */
    text-decoration: none; /* Remove o sublinhado */
    padding: 8px 0;
    display: block;
}

.submenu li a:hover {
    color: #00bcd4; /* Cor ao passar o mouse */
}


.imagem-centralizada {
    display: block;
    width: 250px;
    margin: 0 auto 20px;
    padding: 15px;
    position: relative;
    top: -25px; /* Move 20px para cima */
  }
  
  .card {
    max-width: 350px; /* Ajuste a largura máxima */
    margin: 10px; /* Espaçamento externo */
}

.btn-link {
    width: 100%;
    text-align: left;
    color: #333; /* Cor do texto */
}

.btn-link:hover {
    text-decoration: none;
    color: #007bff; /* Cor ao passar o mouse */
}
